<div class="container custom-container-2">
  <!-- Persons list table, it hides when there is no person -->
  <div *ngIf="Person.length !== 0">
    <h3 class="mb-3 text-center">Persons List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Person Id</th>
            <th scope="col">Name</th>
            <th scope="col">ADDRESS</th>
            <th scope="col">Rezidency</th>
            <th scope="col">AREA CODE</th>
            <th scope="col">Email</th>
            <th scope="col">Bank Account</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Gender</th>
            <th scope="col">Discount</th>
            <th scope="col">Job?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of Person.PERSON">
            <td>{{ person.PERSON_ID }}</td>
            <td>{{ person.FIRST_NAME }} {{ person.FAMILY_NAME }}</td>
            <td>{{ person.ADDRESS }}</td>
            <td>resident of {{ person.CITY }} in {{ person.COUNTRY }}</td>
            <td>{{ person.AREA_CODE }}</td>
            <td>{{ person.EMAIL }}</td>
            <td>{{ person.BANK_ACCOUNT }}</td>
            <td>{{ person.BIRTH_DATE }}</td>
            <td>{{ person.GENDER == "M" ? "Male" : "Female" }}</td>
            <td>{{ person.DISCOUNT }}</td>
            <td>
              {{ person.GUIDE == "Y" ? "Guide" : "" }}
              {{ person.STAFF == "Y" ? "Staff" : "" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
