<div class="select-container">
  <h4>Select table to handle</h4>
  <mat-form-field appearance="fill">
    <mat-label>Table</mat-label>
    <mat-select (selectionChange)="onTableChange($event)">
      <mat-option *ngFor="let table of TablesMeta" [value]="table">
        {{ table.tablename }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-card
  fxFlex
  fxLayoutAlign="start center"
  fxLayout="column"
  class="containedstuff"
  [style.borderRadius.px]="'0'"
>
  <button (click)="getSelectedRowData()" mat-raised-button color="primary">
    Delete selected row(s)<mat-icon>delete</mat-icon>
  </button>
</mat-card>

<ag-grid-angular
  style="width: 100%; height: 50%"
  class="ag-theme-material"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  (gridReady)="onGridReady($event)"
  (cellValueChanged)="onCellValueChanged($event)"
>
</ag-grid-angular>

<div class="insert-container">
  <div class="form-container" *ngIf="selectedTable">
    <h1>Add new {{ selectedTable }}</h1>

    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngFor="let col of columns"
      >
        <mat-label> {{ col.NAME }} </mat-label>
        <div *ngIf="!col.FK">
          <input
            matInput
            name="{{ col.NAME }}"
            id="{{ col.NAME }}"
            ngModel
            [required]="col.MANDATORY ? true : false"
            [disabled]="col.PK && col.SEQ"
          />
        </div>
        <div *ngIf="col.FK">
          <mat-select>
            <mat-option *ngFor="let fkValue of fkValues[col.NAME]">
              {{ fkValue }}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        insert into {{ selectedTable }}
      </button>
    </form>
  </div>
</div>
