<mat-action-list>
  <button mat-list-item routerLink="/persons" routerLinkActive="active">
    <mat-icon>list_alt</mat-icon> Go to see all persons
  </button>
  <button mat-list-item routerLink="/new-person" routerLinkActive="active">
    <mat-icon>add</mat-icon> Add new person
  </button>
  <button mat-list-item routerLink="/crudPerson" routerLinkActive="active">
    <mat-icon>edit</mat-icon> Manage persons
  </button>
  <button mat-list-item routerLink="/crud" routerLinkActive="active">
    <mat-icon>grid_view</mat-icon> Manage tables
  </button>
</mat-action-list>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
