table tr:nth-child(odd) {
  background-color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #f1f1f1;
}
button.active {
  background-color: gainsboro;
}
th, td {
padding: 5px;
}
.containedstuff {
  padding: 15px;
  overflow: auto;
}